.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
}

.modal h2 {
  margin-top: 0;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal button {
  margin-top: 10px;
}

.votation-title {
  font-size: 24px;
  font-weight: bold;
  color: #0070ad;
}
