<button
  id="add-groups-topic-addGroup-button"
  class="login-button"
  mat-raised-button
  color="white"
  (click)="addGroup()"
>
  {{ "ADD_GROUPS.ADD_GROUP" | translate }}
</button>

<div>
  <!-- Combo box to select groups -->
  <mat-form-field>
    <mat-label>{{ "ADD_GROUPS.SELECT_USER_GROUP" | translate }}</mat-label>
    <mat-select id="add-groups-topic-select-group" [(ngModel)]="selectedGroup" (selectionChange)="loadUsers()">
      <mat-option *ngFor="let group of groups" [value]="group">{{
        group
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h3>{{ "ADD_GROUPS.USERS_SELECTED_GROUP" | translate }}</h3>
<!-- List of users of the selected group -->
<p>
  {{ "ADD_GROUPS.TOTAL_USERS" | translate }} {{ users.length }}
</p>

  <ul>
    <div  [ngClass]="{'scrollable': users.length > 6 && showAllUsers}">
      <ng-container *ngFor="let user of users; let i = index">
        <li *ngIf="i < 6 && !showAllUsers">
          {{ user }}
        </li>
          <li *ngIf="showAllUsers">
            {{ user }}
          </li>
      </ng-container>
    </div>
    <li class="ellipsis" *ngIf="users.length > 0 && !showAllUsers" (click)="toggleShowAllUsers()">
      {{ "MANAGING_GROUPS.SHOW_MORE" | translate }}
    </li>
    <li class="ellipsis" *ngIf="showAllUsers" (click)="toggleShowAllUsers()">
      <p></p>
      {{ "MANAGING_GROUPS.SHOW_LESS" | translate }}
    </li>
  </ul>


<!-- Close modal button -->
<div class="wizard-navigation">
  <div class="button left-button">
    <button
      id="add-groups-topic-close-button"
      class="button"
      (click)="closeDialog()"
      mat-button
      color="accent"
    >
      {{ "ADD_GROUPS.CLOSE" | translate }}
    </button>
  </div>
  <div class="button right-button">
    <button
      id="add-groups-topic-save-button"
      class="button login-button ml16"
      mat-raised-button
      color="white"
      (click)="saveSelection()"
    >
      {{ "ADD_GROUPS.SAVE_SELECTION" | translate }}
    </button>
  </div>
</div>
