.fact {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.vote {
  margin-right: 0.25rem;
  min-width: 1.5rem;
  text-align: right;
}

.bold {
  font-weight: bold;
}

.votation-title {
  font-size: 24px;
  font-weight: bold;
  color: #0070ad;
}

.modal-content {
  max-height: 90%;
  overflow-y: auto;
}
