.toolbar {
  background-color: #0070ad;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 40px; /* Tamaño del logo */
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 32px;
  margin-right: 8px;
}

.user-image {
  margin-right: 8px;
}

.username {
  color: white;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-left: 16px;
}

.menu-button:hover {
  background-color: #00578a; /* Color de fondo al pasar el mouse */
  border-radius: 50%; /* Hace que el botón sea circular */
}

.content{
  margin-top: 80px;
}
