<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="logo">
    <span (click)="back()">AILabar</span>
  </div>
  <div class="user-info">
    <i class="material-icons user-icon">account_circle</i>
    <span class="username">{{ user }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleLanguage()">
        {{ textButtonLanguage }}
      </button>
      <button mat-menu-item (click)="logOut()">
        {{ "TOPIC.LOGOUT" | translate }}
      </button>
    </mat-menu>
  </div>
</div>
<router-outlet class="content"></router-outlet>
