<div class="inline-container">
    <div class="cap-container">
        <div class="cap-container-logo"></div>
    </div>
    <div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="login-form-field">
            <input matInput placeholder="Correo electrónico"  required #emailInput>
          </mat-form-field>
          <mat-form-field class="login-form-field">
            <input matInput placeholder="Contraseña"  required #passwordInput>
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button"
                  (click)="loginClick(emailInput.value, passwordInput.value)">
            Iniciar sesión
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>