<div class="wizard">
  <div class="wizard-content">
    <ng-container *ngIf="currentStep === 1">
      <app-step-one
        (sharedData)="(sharedData)"
        (parentMethodInvoked)="parentMethod($event)"
      ></app-step-one>
    </ng-container>

    <ng-container *ngIf="currentStep === 2">
      <app-step-two
        (sharedData)="(sharedData)"
        [selectedImage]="selectedImageStepOne"
      ></app-step-two>
    </ng-container>
    <div class="wizard-navigation">
      <div class="button left-button">
        <button
          class="button login-button"
          mat-raised-button
          color="white"
          *ngIf="currentStep > 1"
          (click)="goToPreviousStep()"
          id="topics-create-previous-button"
        >
          Atrás
        </button>
      </div>
      <div class="button right-button">
        <button mat-button color="accent" (click)="cancelSave()" id="topics-create-cancel-button">
          {{ 'TOPICS_CREATE.CANCEL' | translate }}
        </button>
        <button
          *ngIf="currentStep > 1"
          class="login-button ml16"
          mat-raised-button
          color="white"
          (click)="saveSurvey()"
          id="topics-create-save-button"
        >
        {{ 'TOPICS_CREATE.SAVE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
