.fact {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.votes {
  font-weight: bold;
}

.emoji-option {
  display: -webkit-box;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2rem;
  margin: 0.5rem;
  width: 60px;
  height: 60px;
}
.inline {
  display: flex;
}
.divided-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.resultEmoji {
  font-size: 8em;
  margin-top: 46px;
}
.optionEmoji {
  margin-top: 16px;
  font-size: 2em;
}

.votation-title {
  font-size: 24px;
  font-weight: bold;
  color: #0070ad;
}

.modal-content {
  max-height: 90%;
  overflow-y: auto;
}
