.mat-radio-button {
  margin-right: 60px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.content {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  width: fit-content;
  display: table;
}

.hidden {
  display: none;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-checkbox {
  display: block;
  width: 100%;
}

.selectionPanel {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 16px;
  border: solid 1px #0070ad;
  border-radius: 5px;
}

mat-checkbox {
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #f2f2f2;
}

mat-checkbox:hover {
  background-color: #d6e4f0;
}
.ml16 {
  margin-left: 16px;
}

.error {
  color: red;
}

.left-button {
  order: -1;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  font-size: 16px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .wizard-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .button {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .wizard-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .right-button {
    float: right;
  }

  .oculto {
    display: none;
  }
}
