<div *ngIf="selectedImage.route">
  <h2>Has seleccionado:</h2>
  <img [src]="selectedImage.route" alt="{{ selectedImage.name }}" />
</div>

<div class="form">
  <div>
    <h2>Elige un título:</h2>
    <input
      type="text"
      [(ngModel)]="textBoxValue"
      placeholder="Ingrese un valor"
    />
  </div>

  <div>
    <h2>Elige una fecha de cierre:</h2>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="onDateSelected($event)"
        matDatepickerParse
        [min]="minDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="isSurveyImageText || isOpinionSurvey">
    <h2>Elige el tipo de selección:</h2>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedType">
        <mat-option value="simple">Simple</mat-option>
        <mat-option value="multiple">Múltiple</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isOpinionSurvey">
    <h2>Elige las opciones:</h2>
    <input
      type="text"
      [(ngModel)]="surveyValue1"
      placeholder="Ingrese un valor"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue2"
      placeholder="Ingrese un valor"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue3"
      placeholder="Ingrese un valor"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue4"
      placeholder="Ingrese un valor"
    />
  </div>

  <div *ngIf="isVotingSurvey">
    <button mat-button (click)="openAddCandidates()">Añadir candidatos</button>
    <h2>Lista de candidatos:</h2>
    <!-- Listado de usuarios seleccionados -->
    <ul>
      <ng-container *ngFor="let user of usersCandidates; let i = index">
        <p *ngIf="i === 0">Total de candidatos: {{ usersCandidates.length }}</p>
        <li *ngIf="i < 6">
          {{ user }}
        </li>
        <li *ngIf="i === 5 && usersCandidates.length > 6">...</li>
      </ng-container>
    </ul>
  </div>

  <div *ngIf="isSurveyImageText">
    <h2>Elige las opciones:</h2>
    <input
      type="text"
      [(ngModel)]="imageTextValue1"
      placeholder="Ingrese un valor"
    />
    <input
      type="file"
      name="image1"
      (change)="onFileSelected($event, 1)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue2"
      placeholder="Ingrese un valor"
    />
    <input
      type="file"
      name="image2"
      (change)="onFileSelected($event, 2)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue3"
      placeholder="Ingrese un valor"
    />
    <input
      type="file"
      name="imag3"
      (change)="onFileSelected($event, 3)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue4"
      placeholder="Ingrese un valor"
    />
    <input
      type="file"
      name="imag4"
      (change)="onFileSelected($event, 4)"
      accept="image/*"
    />
  </div>

  <div>
    <button mat-button (click)="openAddParticipants()">
      Añadir participantes
    </button>
    <h2>Lista de participantes:</h2>
    <!-- List of users in the selected group. -->
    <ul>
      <ng-container *ngFor="let user of users; let i = index">
        <p *ngIf="i === 0">Total de participantes: {{ users.length }}</p>
        <li *ngIf="i < 6">
          {{ user }}
        </li>
        <li *ngIf="i === 5 && users.length > 6">...</li>
      </ng-container>
    </ul>
  </div>
</div>
