.fact {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.option {
  margin-right: 0.25rem;
  width: 5%;
}

.bold {
  font-weight: bold;
  padding: 1rem;
}

.votation-title {
  font-size: 24px;
  font-weight: bold;
  color: #0070ad;
}

.modal-content {
  max-height: 90%;
  overflow-y: auto;
}
