<div class="filters-container" fxHide fxShow.sm="true" fxShow.gt-md="true">
  <div>
    <b>{{ "TOPICS_LIST.FILTERS" | translate }}</b>
    <mat-slide-toggle
      id="minesToggle"
      [(ngModel)]="minesFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.OWN" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="openedToggle"
      [(ngModel)]="openedFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.OPEN_FILTER" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="closedToggle"
      [(ngModel)]="closedFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.CLOSED_FILTER" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="votePendingToggle"
      [(ngModel)]="votePendingFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.PENDING_VOTE" | translate }}
    </mat-slide-toggle>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      class="action-button"
      (click)="managingGroups()"
      id="topic-list-managing-groups-button"
    >
      {{ "TOPIC.MANAGING_GROUPS" | translate }}
    </button>
    <button
      mat-raised-button
      class="action-button"
      (click)="addTopic()"
      id="topic-list-add-topic-button"
    >
      {{ "TOPIC.ADD_TOPIC" | translate }}
    </button>
  </div>
</div>

<div class="filters-container-xs" fxHide fxShow.xs>
  <div>
    <b>{{ "TOPICS_LIST.FILTERS" | translate }}</b>
    <mat-slide-toggle
      id="minesToggleXS"
      [(ngModel)]="minesFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.OWN" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="openedToggleXS"
      [(ngModel)]="openedFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.OPEN_FILTER" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="closedToggleXS"
      [(ngModel)]="closedFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.CLOSED_FILTER" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle
      id="votePendingToggleXS"
      [(ngModel)]="votePendingFilter"
      (change)="onToggleChange($event)"
    >
      {{ "TOPICS_LIST.PENDING_VOTE" | translate }}
    </mat-slide-toggle>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      class="action-button"
      (click)="managingGroups()"
      id="topic-list-managing-groups-buttonXS"
    >
      {{ "TOPIC.MANAGING_GROUPS" | translate }}
    </button>
    <button
      mat-raised-button
      class="action-button"
      (click)="addTopic()"
      id="topic-list-add-topic-buttonXS"
    >
      {{ "TOPIC.ADD_TOPIC" | translate }}
    </button>
  </div>
</div>

<div
  id="div1"
  (scroll)="onScroll($event)"
  #scrollContainer
  *ngIf="showScrollTable || showPaginatedTable"
>
  <table
    id="topicsTable"
    #topicsTable
    mat-table
    [dataSource]="dataSource"
    #tableSort="matSort"
    matSort
  >
    <!-- Title Column -->
    <ng-container matColumnDef="id" style="visibility: hidden">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "TOPICS_LIST.TITLE" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "TOPICS_LIST.TITLE" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "TOPICS_LIST.STATUS" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          element.status === 1 ? openStatusTranslation : closedStatusTranslation
        }}
      </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "TOPICS_LIST.AUTHOR" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>

    <!-- Close Date Column -->
    <ng-container matColumnDef="closeDateString">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "TOPICS_LIST.CLOSING_DATE" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.closeDateString }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="open">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        {{ "TOPICS_LIST.OPEN_SURVEY_COLUMN" | translate }}
      </th>

      <td
        mat-cell
        *matCellDef="let element"
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        <button
          matTooltip="{{ 'TOPICS_LIST.OPEN_SURVEY' | translate }}"
          [disabled]="element.status === 1 || element.author !== user"
          class="capBlue"
          (click)="reOpen(element)"
          mat-button
          id="topic-list-reopen-tablet-button-{{ element.id }}"
        >
          <mat-icon svgIcon="lock_open" class="button-reopen"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="close">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        {{ "TOPICS_LIST.CLOSE_SURVEY_COLUMN" | translate }}
      </th>

      <td
        mat-cell
        *matCellDef="let element"
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        <button
          matTooltip="{{ 'TOPICS_LIST.CLOSE_SURVEY' | translate }}"
          [disabled]="element.status === 0 || element.author !== user"
          class="capBlue"
          (click)="close(element)"
          mat-button
          id="topic-list-close-tablet-button-{{ element.id }}"
        >
          <mat-icon svgIcon="lock" class="button-reopen"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        {{ "TOPICS_LIST.DELETE_SURVEY_COLUMN" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        <button
          matTooltip="{{ 'TOPICS_LIST.DELETE_SURVEY' | translate }}"
          [disabled]="element.author !== user"
          class="capBlue"
          (click)="delete(element)"
          mat-button
          id="topic-list-delete-tablet-button-{{ element.id }}"
        >
          <mat-icon svgIcon="delete" class="button-reopen"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="vote">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        {{ "TOPICS_LIST.VOTE_SURVEY_COLUMN" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        <button
          [disabled]="element.status === 0 || !element.canVote"
          matTooltip="{{ 'TOPICS_LIST.VOTE_SURVEY' | translate }}"
          class="capBlue"
          (click)="vote(element)"
          mat-button
          id="topic-list-vote-tablet-button-{{ element.id }}"
        >
          <mat-icon svgIcon="how_to_vote" class="button-reopen"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        {{ "TOPICS_LIST.VIEW_RESULTS_SURVEY_COLUMN" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        fxHide
        fxShow.sm="true"
        fxShow.gt-md="true"
      >
        <button
          [disabled]="element.status === 1"
          matTooltip="{{ 'TOPICS_LIST.VIEW_RESULTS_SURVEY' | translate }}"
          class="capBlue"
          (click)="results(element)"
          mat-button
          id="topic-list-visibility-tablet-button-{{ element.id }}"
        >
          <mat-icon svgIcon="visibility" class="button-reopen"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="result2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.xs>
        {{ "TOPICS_LIST.ACTIONS" | translate }}
      </th>
      <td mat-cell *matCellDef="let element" fxHide fxShow.xs>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          id="topic-list-more-vert-button-{{ element.id }}"
        >
          <mat-icon svgIcon="more_vert" class="button-reopen"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            matTooltip="{{ 'TOPICS_LIST.OPEN_SURVEY' | translate }}"
            [disabled]="element.status === 1 || element.author !== user"
            class="capBlue"
            (click)="reOpen(element)"
            mat-button
            id="topic-list-reopen-tablet-menu-button-{{ element.id }}"
          >
            <mat-icon svgIcon="lock_open" class="button-reopen"></mat-icon>
          </button>
          <button
            matTooltip="{{ 'TOPICS_LIST.CLOSE_SURVEY' | translate }}"
            [disabled]="element.status === 0 || element.author !== user"
            class="capBlue"
            (click)="close(element)"
            mat-button
            id="topic-list-close-tablet-menu-button-{{ element.id }}"
          >
            <mat-icon svgIcon="lock" class="button-reopen"></mat-icon>
          </button>
          <button
            matTooltip="{{ 'TOPICS_LIST.DELETE_SURVEY' | translate }}"
            [disabled]="element.author !== user"
            class="capBlue"
            (click)="delete(element)"
            mat-button
            id="topic-list-delete-tablet-menu-button-{{ element.id }}"
          >
            <mat-icon svgIcon="delete" class="button-reopen"></mat-icon>
          </button>
          <button
            [disabled]="element.status === 0 || !element.canVote"
            matTooltip="{{ 'TOPICS_LIST.VOTE_SURVEY' | translate }}"
            class="capBlue"
            (click)="vote(element)"
            mat-button
            id="topic-list-vote-button-{{ element.id }}"
          >
            <mat-icon svgIcon="how_to_vote" class="button-reopen"></mat-icon>
          </button>
          <button
            [disabled]="element.status === 1"
            matTooltip="{{ 'TOPICS_LIST.VIEW_RESULTS_SURVEY' | translate }}"
            class="capBlue"
            (click)="results(element)"
            mat-button
            id="topic-list-visibility-tablet-menu-button-{{ element.id }}"
          >
            <mat-icon svgIcon="visibility" class="button-reopen"></mat-icon>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div
    id="fill"
    #fill
    *ngIf="showScrollTable && canPaginate()"
    style="height: 1px"
  ></div>
</div>

<div id="div2" *ngIf="showCards">
  <mat-card>
    <mat-card-content>
      <div
        [class.closed]="element.status === 0"
        *ngFor="let element of dataSource.data"
        class="card-item"
      >
        <div class="title-and-status">
          <h3>{{ element.title }}</h3>
          <p>
            <b>{{ "TOPICS_LIST.STATUS" | translate }}:</b>
            {{
              element.status === 1
                ? openStatusTranslation
                : closedStatusTranslation
            }}
          </p>
          <p
            class="close-date"
            *ngIf="
              element.closeDateString !== undefined &&
              element.closeDateString !== null
            "
          >
            <b>{{ "TOPICS_LIST.CLOSING_DATE" | translate }}:</b>
            {{ element.closeDateString }}
          </p>
          <p class="close-date" *ngIf="!element.closeDateString">
            <b>{{ "TOPICS_LIST.WITHOUT_CLOSING_DATE" | translate }}</b>
          </p>
        </div>

        <div class="buttons">
          <button
            mat-icon-button
            *ngIf="element.author === user"
            [disabled]="element.status === 1 || element.author !== user"
            class="capBlue"
            (click)="reOpen(element)"
            id="topic-list-reopen-card-button-{{ element.id }}"
          >
            <mat-icon
              svgIcon="lock_open"
              class="button-reopen"
              *ngIf="element.author === user"
              [matTooltip]="
                element.status === 1
                  ? 'TOPICS_LIST.CLOSE'
                  : ('TOPICS_LIST.OPEN' | translate)
              "
              [matTooltipDisabled]="
                element.status === 1 || element.author !== user
              "
            ></mat-icon>
          </button>

          <button
            mat-icon-button
            *ngIf="element.author === user"
            [disabled]="element.status === 0 || element.author !== user"
            class="capBlue"
            (click)="close(element)"
            id="topic-list-close-card-button-{{ element.id }}"
          >
            <mat-icon
              svgIcon="lock"
              class="button-reopen"
              *ngIf="element.author === user"
              [matTooltip]="
                element.status === 0
                  ? 'TOPICS_LIST.OPEN'
                  : ('TOPICS_LIST.CLOSE' | translate)
              "
              [matTooltipDisabled]="
                element.status === 0 || element.author !== user
              "
            ></mat-icon>
          </button>

          <button
            mat-icon-button
            *ngIf="element.author === user"
            class="capBlue"
            (click)="delete(element)"
            id="topic-list-delete-card-button-{{ element.id }}"
          >
            <mat-icon
              svgIcon="delete"
              class="button-reopen"
              *ngIf="element.author === user"
              matTooltip="{{ 'TOPICS_LIST.DELETE' | translate }}"
            ></mat-icon>
          </button>

          <button
            mat-icon-button
            [disabled]="element.status === 0 || !element.canVote"
            class="capBlue"
            (click)="vote(element)"
            id="topic-list-vote-card-button-{{ element.id }}"
          >
            <mat-icon
              svgIcon="how_to_vote"
              class="button-reopen"
              matTooltip="{{ 'TOPICS_LIST.VOTE' | translate }}"
              [matTooltipDisabled]="element.status === 0 || !element.canVote"
            ></mat-icon>
          </button>

          <button
            mat-icon-button
            [disabled]="element.status === 1"
            class="capBlue"
            (click)="results(element)"
            id="topic-list-visibility-card-button-{{ element.id }}"
          >
            <mat-icon
              svgIcon="visibility"
              class="button-reopen"
              matTooltip="{{ 'TOPICS_LIST.VIEW_RESULTS' | translate }}"
              [matTooltipDisabled]="element.status === 1"
            ></mat-icon>
          </button>
        </div>

        <p class="author">
          <b>{{ "TOPICS_LIST.AUTHOR" | translate }}:</b> {{ element.author }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator
  #paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
  *ngIf="showPaginatedTable || showCards"
></mat-paginator>

<div class="button-container">
  <button
    (click)="changeDisplay('Pagination')"
    matTooltip="{{ 'TOPICS_LIST.PAGINATION' | translate }}"
    mat-button
    [color]="showPaginatedTable ? 'primary' : 'default'"
    class="image-button pagination-button"
    id="topic-list-pagination-button"
  >
    <div
      class="button-image"
      [ngStyle]="{
        'background-image': showPaginatedTable
          ? 'url(assets/images/pagination-image-active.png)'
          : 'url(assets/images/pagination-image-inactive.png)'
      }"
    ></div>
  </button>
  <button
    (click)="changeDisplay('Scroll')"
    matTooltip="{{ 'TOPICS_LIST.SCROLL' | translate }}"
    mat-button
    [color]="showScrollTable ? 'primary' : 'default'"
    class="image-button scroll-button"
    id="topic-list-scroll-button"
  >
    <div
      class="button-image"
      [ngStyle]="{
        'background-image': showScrollTable
          ? 'url(assets/images/scroll-image-active.png)'
          : 'url(assets/images/scroll-image-inactive.png)'
      }"
    ></div>
  </button>
  <button
    (click)="changeDisplay('Cards')"
    matTooltip="{{ 'TOPICS_LIST.CARDS' | translate }}"
    mat-button
    [color]="showCards ? 'primary' : 'default'"
    class="image-button cards-button"
    id="topic-list-cards-button"
  >
    <div
      class="button-image"
      [ngStyle]="{
        'background-image': showCards
          ? 'url(assets/images/cards-image-active.png)'
          : 'url(assets/images/cards-image-inactive.png)'
      }"
    ></div>
  </button>
</div>

<app-modal-votation
  [isOpen]="modalOpen"
  [options]="optionsVotation"
  [selectedOptions]="selectedOptions"
  [title]="titleVotation"
  [idVotation]="idVotation"
  [typeVoting]="typeVoting"
  [isSurveyOpinionSimple]="isSurveyOpinionSimple"
  [isSurveyRating]="isSurveyRating"
  [isSurveyVoting]="isSurveyVoting"
  [isSurveyImageTextSimple]="isSurveyImageTextSimple"
  [isSurveyOpinionMultiple]="isSurveyOpinionMultiple"
  [isSurveyImageTextMultiple]="isSurveyImageTextMultiple"
  (onClose)="closeModalVotation($event)"
  (onOptionChange)="onOptionChange($event)"
></app-modal-votation>

<app-voting-results
  *ngIf="showResultsModal"
  [items]="listItems"
  [titleSurvey]="titleSurvey"
  (closeModal)="closeResultsModal()"
></app-voting-results>
