<!-- Tipo de visualización:
<button (click)="changeVisualization('Paginacion')" mat-button  [color]="showTablaPaginada ? 'primary' : 'default'">
  Paginacion
</button>
<button (click)="changeVisualization('Scroll')" mat-button  [color]="showTablaScroll ? 'primary' : 'default'">
  Scroll
</button>
<button (click)="changeVisualization('Cards')" mat-button  [color]="showCards ? 'primary' : 'default'">
  Cards
</button> -->



<div id="div1" (scroll)="onScroll($event)" #scrollContainer *ngIf="showTablaScroll || showTablaPaginada">
<table id="tablaTopicos" #tablaTopicos mat-table [dataSource]="dataSource" #tableSort="matSort" matSort  >

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
    <td mat-cell *matCellDef="let element"> {{ element.status === 1 ? 'Abierto' : 'Cerrado' }} </td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Close Date Column -->
  <ng-container matColumnDef="closeDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de cierre </th>
    <td mat-cell *matCellDef="let element"> {{element.closeDate}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="open">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.sm="true"  fxShow.gt-md="true"> Abrir </th>

    <td mat-cell *matCellDef="let element" fxHide fxShow.sm="true"  fxShow.gt-md="true"> <button matTooltip="Abrir votación" [disabled]="element.status === 1 || element.author !== user"
        class="capBlue" (click)="reOpen(element)" mat-button>
        <mat-icon>lock_open</mat-icon>
      </button></td>
  </ng-container>

  <ng-container matColumnDef="close">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.sm="true"  fxShow.gt-md="true"> Cerrar </th>

    <td mat-cell *matCellDef="let element" fxHide fxShow.sm="true"  fxShow.gt-md="true"> <button matTooltip="Cerrar votación" [disabled]="element.status === 0 || element.author !== user"
        class="capBlue" (click)="close(element)" mat-button>
        <mat-icon>lock</mat-icon>
      </button></td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.sm="true"  fxShow.gt-md="true"> Eliminar </th>
    <td mat-cell *matCellDef="let element" fxHide fxShow.sm="true"  fxShow.gt-md="true"> <button matTooltip="Eliminar votación" [disabled]="element.author !== user"
        class="capBlue" (click)="delete(element)" mat-button>
        <mat-icon>delete</mat-icon>
      </button></td>
  </ng-container>

  <ng-container matColumnDef="vote">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.sm="true"  fxShow.gt-md="true"> Votar </th>
    <td mat-cell *matCellDef="let element" fxHide fxShow.sm="true"  fxShow.gt-md="true">  <button [disabled]="element.status === 0 || !element.canVote"
        matTooltip="Votar" class="capBlue" (click)="vote(element)" mat-button>
        <mat-icon>how_to_vote</mat-icon>
      </button></td>
  </ng-container>



  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.sm="true"  fxShow.gt-md="true"> Ver resultados </th>
    <td mat-cell *matCellDef="let element" fxHide fxShow.sm="true"  fxShow.gt-md="true"> <button [disabled]="element.status === 1" matTooltip="Votar"
        class="capBlue" (click)="results(element)" mat-button>
        <mat-icon>visibility</mat-icon>
      </button></td>
  </ng-container>

  <ng-container matColumnDef="result2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.xs> Acciones </th>
    <td mat-cell *matCellDef="let element" fxHide fxShow.xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button matTooltip="Abrir votación" [disabled]="element.status === 1 || element.author !== user"
        class="capBlue" (click)="reOpen(element)" mat-button>
        <mat-icon>lock_open</mat-icon>
      </button>
        <button matTooltip="Cerrar votación" [disabled]="element.status === 0 || element.author !== user "
        class="capBlue" (click)="close(element)" mat-button>
        <mat-icon>lock</mat-icon>
      </button>
        <button matTooltip="Eliminar votación" [disabled]="element.author !== user"
        class="capBlue" (click)="delete(element)" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
        <button [disabled]="element.status === 0 || !element.canVote" matTooltip="Votar" class="capBlue"
          (click)="vote(element)" mat-button>
          <mat-icon>how_to_vote</mat-icon>
        </button>
        <button [disabled]="element.status === 1" matTooltip="Votar" class="capBlue" (click)="results(element)"
          mat-button>
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
 
<div id="relleno" #relleno *ngIf="showTablaScroll && puedoPaginar()" style="height:1px"></div> <!-- Espacio para simular el scroll  -->

</div>

<div id="div2"  *ngIf="showCards">
  <mat-card>
    <mat-card-content>
      <div *ngFor="let element of dataSource.data" class="card-item">
        <div class="title-and-status">
          <h3>{{ element.title }}</h3>
          <p><b>Estado:</b> {{ element.status === 1 ? 'Abierto' : 'Cerrado' }}</p>
          <p class="close-date" *ngIf="element.closeDate"><b>Fecha de cierre:</b> {{ element.closeDate }}</p>
        </div>
  
        <div class="buttons">
          <button mat-icon-button [disabled]="element.status === 1 || element.author !== user" class="capBlue" (click)="reOpen(element)">
            <mat-icon [matTooltip]="element.status === 1 ? 'Abierto' : 'Cerrado'">lock_open</mat-icon>
          </button>
  
          <button mat-icon-button [disabled]="element.author !== user" class="capBlue" (click)="delete(element)">
            <mat-icon matTooltip="Eliminar">delete</mat-icon>
          </button>
  
          <button mat-icon-button [disabled]="element.status === 0 || !element.canVote" class="capBlue" (click)="vote(element)">
            <mat-icon matTooltip="Votar">how_to_vote</mat-icon>
          </button>
  
          <button mat-icon-button [disabled]="element.status === 1" class="capBlue" (click)="results(element)">
            <mat-icon matTooltip="Ver resultados">visibility</mat-icon>
          </button>
        </div>
  
        <p class="author"><b>Autor:</b> {{ element.author }}</p>
      </div>
    </mat-card-content>
  </mat-card> 

</div>
 
<mat-paginator #paginator
 [length]="totalItems" 
 [pageSize]="pageSize" 
 [pageSizeOptions]="[5, 10, 20]" 
 (page)="onPageChange($event)"  *ngIf="showTablaPaginada || showCards"></mat-paginator> 

 <div class="button-container">
  <button (click)="changeVisualization('Paginacion')" matTooltip="Paginación" mat-button [color]="showTablaPaginada ? 'primary' : 'default'" class="image-button paginacion-button">
    <div class="button-image" [ngStyle]="{'background-image': showTablaPaginada ? 'url(assets/images/paginacion-image-active.png)' : 'url(assets/images/paginacion-image-inactive.png)'}"></div>
  </button>
  <button (click)="changeVisualization('Scroll')" matTooltip="Scroll" mat-button [color]="showTablaScroll ? 'primary' : 'default'" class="image-button scroll-button">
    <div class="button-image" [ngStyle]="{'background-image': showTablaScroll ? 'url(assets/images/scroll-image-active.png)' : 'url(assets/images/scroll-image-inactive.png)'}"></div>
  </button>
  <button (click)="changeVisualization('Cards')" matTooltip="Cards" mat-button [color]="showCards ? 'primary' : 'default'" class="image-button cards-button">
    <div class="button-image" [ngStyle]="{'background-image': showCards ? 'url(assets/images/cards-image-active.png)' : 'url(assets/images/cards-image-inactive.png)'}"></div>
  </button>
</div>

<app-modal-votacion
  [isOpen]="modalOpen"
  [options]="optionsVotacion"
  [selectedOptions]="selectedOptions"
  [title]="titleVotacion"
  [idVotation]="idVotation"
  [typeVotacion]="typeVotacion"
  [isEncuestaOpinionSimple]="isEncuestaOpinionSimple"
  [isEnquestaValoracion]="isEnquestaValoracion"
  [isEnquestaVotacion]="isEnquestaVotacion"
  [isEnquestaImagenTextoSimple]="isEnquestaImagenTextoSimple"
  [isEncuestaOpinionMultiple]="isEncuestaOpinionMultiple"
  [isEnquestaImagenTextoMultiple]="isEnquestaImagenTextoMultiple"
  (onClose)="closeModalVotacion()"
  (onOptionChange)="onOptionChange($event)"
></app-modal-votacion>


<app-restultados-votacion *ngIf="showModalResultados" [items]="listItems" [titleEncuesta]="titleEncuesta" (closeModal)="closeModalResultados()"></app-restultados-votacion>
