<mat-dialog-actions>
  <div *ngIf="isOpen && (isEncuestaOpinionMultiple || isEncuestaOpinionSimple || isEnquestaValoracion || isEnquestaVotacion || isEnquestaImagenTextoSimple || isEnquestaImagenTextoMultiple)" class="modal">
    <div class="modal-content">
      <h2>{{title}}</h2>
      <div class="padding-content">
        <ng-container *ngIf="isEncuestaOpinionMultiple || isEncuestaOpinionSimple">
          <label *ngFor="let option of valoresVotacion">
            <input
              type="checkbox" 
              [checked]="isEncuestaOpinionMultiple ? selectedOptions.includes(option) : selectedOption === option"
              (change)="isEncuestaOpinionMultiple ? selectOption(option, $event) : selectOpinion(option)"
            />
            {{ option }}
          </label>
        </ng-container>
        <ng-container *ngIf="isEnquestaValoracion">
          <div *ngFor="let emoji of emojisVotacion" class="emoji-option">
            <input
              type="radio"
              [id]="emoji.id"
              [value]="emoji"
              [checked]="selectedEmoji === emoji"
              (change)="selectEmoji(emoji)"
            />
            <label [for]="emoji.id">{{ emoji.icon }}</label>
          </div>
        </ng-container>
        <ng-container *ngIf="isEnquestaVotacion">
          <div *ngFor="let item of itemsVotacion" class="item-option">
            <input
              type="radio"
              [id]="item.id"
              [value]="item"
              [checked]="selectedItem === item"
              (change)="selectItem(item)"
            />
            <label [for]="item.id">
              <img [src]="item.imageSrc" alt="Imagen" />
              <span class="item-text">{{ item.text }}</span>
            </label>
          </div>
        </ng-container>
        <ng-container *ngIf="isEnquestaImagenTextoSimple || isEnquestaImagenTextoMultiple">
          <div *ngFor="let item of valoresVotacionImagenTexto" class="item-option">
            <input
              [type]="isEnquestaImagenTextoSimple ? 'radio' : 'checkbox'"
              [id]="item.id"
              [value]="item"
              [checked]="isEnquestaImagenTextoSimple ? selectedImagenTexto === item : selectedOptions.includes(item)"
              (change)="isEnquestaImagenTextoSimple ? selectImagenTexto(item) : selectImagenesTexto(item, $event)"
            />
            <label [for]="item.id">
              <img [src]="item.imageSrc" alt="Imagen" />
              <span class="item-text">{{ item.text }}</span>
            </label>
          </div>
        </ng-container>
      </div>
      <div class="wizard-navigation">
        <div class="button right-button">
          <button mat-button color="accent" (click)="closeModal()">Cancelar</button>
          <button class="login-button ml16" mat-raised-button color="white" (click)="sendSelection()">Guardar</button>
        </div>
      </div>
    </div>
  </div>