h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.emoji-option {
  display: flex;
  margin-bottom: 10px;
  font-size: 2rem;
  margin: 0.5rem;
  align-items: center;
}

.item-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-option img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.item-option span {
  align-items: center;
}

.left-button {
  order: -1;
}

.right-button {
  float: right;
}

.wizard-content {
  width: fit-content;
}
