<div *ngIf="selectedImage.route">
  <h2>{{ 'STEP_TWO.YOU_HAVE_SELECTED' | translate }}</h2>
  <img [src]="selectedImage.route" alt="{{ selectedImage.name }}" />
</div>

<div class="form">
  <div>
    <h2>{{ 'STEP_TWO.CHOOSE_TITTLE' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="textBoxValue"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
  </div>

  <div>
    <h2>{{ 'STEP_TWO.CHOOSE_CLOSING_DATE' | translate }}</h2>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="onDateSelected($event)"
        matDatepickerParse
        [min]="minDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="isSurveyImageText || isOpinionSurvey">
    <h2>{{ 'STEP_TWO.CHOOSE_SELECTION_TYPE' | translate }}</h2>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedType">
        <mat-option value="simple">{{ 'STEP_TWO.SIMPLE' | translate }}</mat-option>
        <mat-option value="multiple">{{ 'STEP_TWO.MULTIPLE' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isOpinionSurvey">
    <h2>{{ 'STEP_TWO.CHOOSE_OPTIONS' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="surveyValue1"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue2"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue3"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue4"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
  </div>

  <div *ngIf="isVotingSurvey">
    <button mat-button (click)="openAddCandidates()">{{ 'STEP_TWO.ADD_CANDIDATES' | translate }}</button>
    <h2>{{ 'STEP_TWO.LIST_CANDIDATES' | translate }}</h2>
    <!-- List of selected users -->
    <ul>
      <ng-container *ngFor="let user of usersCandidates; let i = index">
        <p *ngIf="i === 0">{{ 'STEP_TWO.TOTAL_CANDIDATES' | translate }} {{ usersCandidates.length }}</p>
        <li *ngIf="i < 6">
          {{ user }}
        </li>
        <li *ngIf="i === 5 && usersCandidates.length > 6">...</li>
      </ng-container>
    </ul>
  </div>

  <div *ngIf="isSurveyImageText">
    <h2>{{ 'STEP_TWO.CHOOSE_OPTIONS' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="imageTextValue1"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <input
      type="file"
      name="image1"
      (change)="onFileSelected($event, 1)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue2"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <input
      type="file"
      name="image2"
      (change)="onFileSelected($event, 2)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue3"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <input
      type="file"
      name="imag3"
      (change)="onFileSelected($event, 3)"
      accept="image/*"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue4"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
    />
    <input
      type="file"
      name="imag4"
      (change)="onFileSelected($event, 4)"
      accept="image/*"
    />
  </div>

  <div>
    <button mat-button (click)="openAddParticipants()">
      {{ 'STEP_TWO.ADD_PARTICIPANTS' | translate }}
    </button>
    <h2>{{ 'STEP_TWO.LIST_PARTICIPANTS' | translate }}</h2>
    <!-- List of users in the selected group. -->
    <ul>
      <ng-container *ngFor="let user of users; let i = index">
        <p *ngIf="i === 0">{{ 'STEP_TWO.TOTAL_PARTICIPANTS' | translate }} {{ users.length }}</p>
        <li *ngIf="i < 6">
          {{ user }}
        </li>
        <li *ngIf="i === 5 && users.length > 6">...</li>
      </ng-container>
    </ul>
  </div>
</div>
