<div *ngIf="selectedImage.route">
  <h2>{{ 'STEP_TWO.YOU_HAVE_SELECTED' | translate }}</h2>
  <img [src]="selectedImage.route" alt="{{ selectedImage.name }}" />
</div>

<div class="form">
  <div>
    <h2>{{ 'STEP_TWO.CHOOSE_TITTLE' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="textBoxValue"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="150"
      id="step-two-tittle-input"
    />
  </div>

  <div>
    <h2>{{ 'STEP_TWO.CHOOSE_CLOSING_DATE' | translate }}</h2>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="onDateSelected($event)"
        matDatepickerParse
        [min]="minDate"
        id="step-two-date-input"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="isSurveyImageText || isOpinionSurvey">
    <h2>{{ 'STEP_TWO.CHOOSE_SELECTION_TYPE' | translate }}</h2>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedType">
        <mat-option value="simple">{{ 'STEP_TWO.SIMPLE' | translate }}</mat-option>
        <mat-option value="multiple">{{ 'STEP_TWO.MULTIPLE' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isOpinionSurvey">
    <h2>{{ 'STEP_TWO.CHOOSE_OPTIONS' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="surveyValue1"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-surveyValue1-input"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue2"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-surveyValue2-input"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue3"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-surveyValue3-input"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="surveyValue4"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-surveyValue4-input"
    />
  </div>

  <div *ngIf="isVotingSurvey">
    <button id="step-two-add-candidates-button" mat-button (click)="openAddCandidates()">{{ 'STEP_TWO.ADD_CANDIDATES' | translate }}</button>
    <h2>{{ 'STEP_TWO.LIST_CANDIDATES' | translate }}</h2>
    <!-- List of selected users -->
    <ul>
      <div  [ngClass]="{'scrollable': usersCandidates.length > 5 && showAllUsersCandidates}">
      <ng-container *ngFor="let user of usersCandidates; let i = index">
        <p *ngIf="i === 0">{{ 'STEP_TWO.TOTAL_CANDIDATES' | translate }} {{ usersCandidates.length }}</p>
        <li *ngIf="i < 5 && !showAllUsersCandidates">
          {{ user }}
        </li>
        <li *ngIf="showAllUsersCandidates">
          {{ user }}
        </li>
      </ng-container>
    </div>
    <li class="ellipsis" *ngIf="usersCandidates.length > 0 && !showAllUsersCandidates" (click)="toggleShowAllUsersCandidates()">
      {{ "MANAGING_GROUPS.SHOW_MORE" | translate }}
    </li>
    <li class="ellipsis" *ngIf="showAllUsersCandidates" (click)="toggleShowAllUsersCandidates()">
      <p></p>
      {{ "MANAGING_GROUPS.SHOW_LESS" | translate }}
    </li>
    </ul>
  </div>

  <div *ngIf="isSurveyImageText">
    <h2>{{ 'STEP_TWO.CHOOSE_OPTIONS' | translate }}</h2>
    <input
      type="text"
      [(ngModel)]="imageTextValue1"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-imageTextValue1-input"
    />
    <label class="custom-file-upload">
      <input
        type="file"
        name="image1"
        (change)="onFileSelected($event, 1)"
        accept="image/*"
        id="step-two-image1-input"
      />
      <span>{{ 'STEP_TWO.UPLOAD_FILE' | translate }}</span>
    </label>
    <input
      type="text"[value]="imageName[1]" readonly class="imageName"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue2"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-imageTextValue2-input"
    />
    <label class="custom-file-upload">
      <input
        type="file"
        name="image2"
        (change)="onFileSelected($event, 2)"
        accept="image/*"
        id="step-two-image2-input"
      />
      <span>{{ 'STEP_TWO.UPLOAD_FILE' | translate }}</span>
    </label>
    <input
      type="text"[value]="imageName[2]" readonly class="imageName"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue3"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-imageTextValue3-input"
    />
    <label class="custom-file-upload">
      <input
        type="file"
        name="image3"
        (change)="onFileSelected($event, 3)"
        accept="image/*"
        id="step-two-image3-input"
      />
      <span>{{ 'STEP_TWO.UPLOAD_FILE' | translate }}</span>
    </label>
    <input
      type="text"[value]="imageName[3]" readonly class="imageName"
    />
    <p></p>
    <input
      type="text"
      [(ngModel)]="imageTextValue4"
      placeholder="{{ 'STEP_TWO.ENTER_VALUE' | translate }}"
      maxlength="200"
      id="step-two-imageTextValue4-input"
    />
    <label class="custom-file-upload">
      <input
        type="file"
        name="image4"
        (change)="onFileSelected($event, 4)"
        accept="image/*"
        id="step-two-image4-input"
      />
      <span>{{ 'STEP_TWO.UPLOAD_FILE' | translate }}</span>
    </label>
    <input
      type="text"[value]="imageName[4]" readonly class="imageName"
    />
  </div>

  <div>
    <button mat-button (click)="openAddParticipants()" id="step-two-openAddParticipants-button">
      {{ 'STEP_TWO.ADD_PARTICIPANTS' | translate }}
    </button>
    <h2>{{ 'STEP_TWO.LIST_PARTICIPANTS' | translate }}</h2>
    <!-- List of users in the selected group. -->
    <ul>
      <div  [ngClass]="{'scrollable': users.length > 5 && showAllUsers}">
      <ng-container *ngFor="let user of users; let i = index">
        <p *ngIf="i === 0">{{ 'STEP_TWO.TOTAL_PARTICIPANTS' | translate }} {{ users.length }}</p>
        <li *ngIf="i < 5 && !showAllUsers">
          {{ user }}
        </li>
        <li *ngIf="showAllUsers">
          {{ user }}
        </li>
      </ng-container>
    </div>
    <li class="ellipsis" *ngIf="users.length > 0 && !showAllUsers" (click)="toggleShowAllUsers()">
      {{ "MANAGING_GROUPS.SHOW_MORE" | translate }}
    </li>
    <li class="ellipsis" *ngIf="showAllUsers" (click)="toggleShowAllUsers()">
      <p></p>
      {{ "MANAGING_GROUPS.SHOW_LESS" | translate }}
    </li>
    </ul>
  </div>
</div>
